{% extends "instagram/layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="{{ page_user.avatar_url }}" class="rounded-circle" style="width: 160px; "/>
        </div>
        <div class="col-sm-9">
            {{ page_user.username }}
            <a href="{% url "profile_edit" %}">Edit Profile</a>
            <hr/>
            0 posts, 0 followers, 0 following 
            <hr/>
            {{ page_user.name }}
        </div>
    </div>
</div>
{% endblock %}